
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DuesTab</title>
</head>
<body>
    <div>
        <h3>Dues</h3>

        <table border="1" width="100%" align="center">
            <tr>
                <td colspan="2"><span>Invoice<br />1500</span></td>
                <td colspan="2"><span>05 Oct 2020<br />View</span></td>
            </tr>
            <tr>
                <td colspan="2"><span>Invoice<br />500</span></td>
                <td colspan="2"><span>04 Oct 2020<br />View</span></td>
            </tr>
        </table>
    </div>
</body>
</html>
