@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form id="homeApt-form" class="form" action="myAccount" method="post">
        <div>
            <table>
                <tr><td colspan="2"> Hello Jimmy Johns</td></tr>
                <tr><td colspan="2">&nbsp;</td></tr>
                <tr>
                    <td>Select Your unit</td>
                    <td>
                        <div>
                            @{
                                List<SelectListItem> listItems = new List<SelectListItem>();
                                listItems.Add(new SelectListItem { Text = "Pls Select", Value = "None", Selected = true });
                                listItems.Add(new SelectListItem { Text = "MIG-2-8C", Value = "MIG28C"});
                                listItems.Add(new SelectListItem { Text = "MIG-2-12D", Value = "MIG212D" });
                            }

                            @Html.DropDownList("ApartmentId", listItems, new { @class = "form-control" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>

                        <input type="submit" name="submit" class="btn btn-info btn-md" value="submit"  />

                    </td>
                </tr>
            </table>

        </div>
    </form>
</body>
</html>
