@{
    ViewBag.Title = "Pricing";
}

<div class="jumbotron">
    <h1>Pricing</h1>
    <p class="lead">@ViewBag.Title - @ViewBag.Message</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
